
//Preloader Here
.preloader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(87, 121, 213, 0.951);
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 99999999999;
  .thumb{
    width: 180px;
    height: 180px;
    img{
      @include imgw;
      object-fit: contain;
      animation: durat 9s linear infinite;
    }
  }
}
@keyframes durat{
  0%{
    transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
//Preloader Here

//Section-Scss Start
.game__slide,
.game__right__time,
.game__right__wrap{

  
  .owl-nav{
    margin-top: 75px;
      button.owl-prev{
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          line-height: 6px;
          background: #FDFDFF;
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
          width: 41px;
          height: 41px;
          transition: all 0.3s;
          i{
              font-size: 16px;
              color: var(--slide-btn);
              transition: all 0.3s;
          }
          &:hover{
            background-color: var(--slide-btn);
            i{
              color: var(--white-color);
            }
          }
      }
      button.owl-next{
          position: absolute;
          top: 50%;
          right: -10px;
          line-height: 6px;
          background: #FDFDFF;
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
          width: 41px;
          height: 41px;
          transform: translateY(-50%);
          transition: all 0.3s;
          i{
              font-size: 16px;
              line-height: 20px;
              color: var(--slide-btn);
          }
          &:hover{
            background-color: var(--slide-btn);
            i{
              color: var(--white-color);
            }
          }
      }
  }
  .owl-dots{
      .owl-dot{
          span{
              background-color: var(--border-two);
              width: 12px;
              height: 12px;
          }
          &.active{
              span{
                  background-color: var(--theme-color);
                  width: 12px;
              }
          }
      }
  }
}
//Section-Scss End


//Game-Scss Start
.game__head__wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h2{
    margin-bottom: -15px;
  }
  form{
    background: #FDFDFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    position: relative;
    width: 513px;
    input{
      outline: none;
      border: none;
      padding: 15px 15px 15px 50px;
      color: #090808;
      border-radius: 27px;
    }
    ::placeholder{
      color: #090808;
    }
    .icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
  }
}
.game__items{
  position: relative;
  width: 100%;
  border-radius: 20px;
  img{
    @include imgw;
    border-radius: 20px;
  }
  .badge{
    background: linear-gradient(113.09deg, #0396FF 15.28%, #6E81FC 87.86%);
    border-radius: 20px 0px;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px 9px;
    display: block; 
    left: 0;
    transition: 0.4s;
  }
  .game__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0 0 -100% 0;
    border-radius: 20px;
    background: linear-gradient(181.17deg, rgba(0, 6, 22, 0.597) 1%, rgba(1, 17, 57, 0.831) 100.27%);
    opacity: 0;
    transition: all 0.4s;
  }
  &:hover{
    .game__overlay{
      inset: 0 0 -100% 0;
      opacity: 1;
    }
    .badge{
      display: none;
    }
  }
}
.cmn__items__game__two{
  .game__overlay{
    .contents{
      .cmn--btn2{
        bottom: 25px !important;
      }
      h6{
        top: 25px !important;
      }
    }
    &::before{
      position: absolute;
      inset: 0;
      content: "";
      background: linear-gradient(180deg, #EE8902 0%, #FFD300 100%) !important;
      opacity: 0.8;
      border-radius: 20px;
    }
  }
}
.cmn__items__red{
  .game__overlay{
    .contents{
      .cmn--btn2{
        bottom: 25px !important;
      }
      h6{
        top: 25px !important;
      }
    }
    &::before{
      position: absolute;
      inset: 0;
      content: "";
      background: linear-gradient(180deg, #FF838B 0%, #F93642 100%) !important;
      opacity: 0.9;
      border-radius: 20px !important;
    }
  }
}
.jakpot__items{
  .game__overlay{
    opacity: 1;
    .contents{
      text-align: center;
      h3{
        color: var(--white-color);
      }
      .cmn--btn2{
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &:hover{
    .game__overlay{
      opacity: 1;
      background-color: none;
      text-align: center;
      .contents{
        h3{
          color: var(--white-color);
        }
        .cmn--btn2{
          position: absolute;
          bottom: 35px;
          transform: translateX(-50%);
        }
      }
    }
  }
  h2{
    color: var(--theme-color) !important;
  }
  h3{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cmn__items__game{
  position: relative;
  .game__overlay{
    opacity: 1;
    .contents{
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      h6{
        font-weight: 700;
        color: var(--white-color);
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
      h3{
        color: var(--white-color);
        z-index: 1;
      }
      h2{
        color: var(--white-color);
        z-index: 1;
      }
      .cmn--btn2{
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
      }
    }
    &::before{
      position: absolute;
      inset: 0;
      content: "";
      background: linear-gradient(180deg, #60AC0A 0%, #9ED515 100%);
      opacity: 0.7;
      border-radius: 20px;
    }
  }
}
.jackpot__section{
  margin-top: -30px;
}
.game__space__top{
  margin-top: -30px;
}
.jackpot__main__slide{
  margin-top: -30px;
}
.timing__wrap{
  .game__overlay{
    &::before{
      position: absolute;
      inset: 0;
      content: "";
      background: #0FB8D3 !important;
      opacity: 0.7;
      border-radius: 20px;
    }
    .contents{
      h4{
        color: var(--white-color);
        z-index: 1;
      }
      .cmn--btn2{
        padding: 10px 15px;
        font-size: 16px;
      }
    }
  }
}
.game__items__timing{
  background: #EEEBF6;
  border-radius: 10px;
  padding: 20px 20px;
  .timing__head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    .thumb{
      width: 70px;
      height: 70px;
      img{
        @include imgw;
        border-radius: 10px;
      }
    }
    .content{
      h6{
        color: var(--black-theme);
        margin-bottom: -2px;
      }
      span{
        font-size: 16px;
        font-weight: 400;
        color: #7E6294;
      }
    }
  }
  .timing__wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    li{
      &:not(:last-child){
        border-right: 1px solid #7E6294;
        padding-right: 25px;
      }
      .title{
        color: #7E6294;
        font-size: 16px;
        font-weight: 500;
        display: block;
      }
      .time{
        display: flex;
        gap: 5px;
        align-items: center;
        span{
          font-size: 18px;
          font-weight: 500;
          color: var(--black-theme);
          display: block;
          line-height: 30px;
        }
      }
      .cou{
        font-size: 18px;
        font-weight: 500;
        color: var(--black-theme);
        display: block;
        line-height: 30px;
      }
      .countdown{
        font-size: 18px;
        font-weight: 500;
        color: var(--black-theme);
        display: block;
        line-height: 30px;
      }
    }
  }
  .opt__btn{
    display: flex;
    justify-content: flex-end;
    .cmn--btn2{
      font-size: 18px;
      padding: 8px 18px 9px;
    }
  }
}
//Game-Scss End

//Faq-Scss Start
.faq__section{
  overflow: hidden;
}
.faq__head{
  margin-bottom: 26px;
}
.faq__board{
  .accordion-button:not(.collapsed) {
      color: var(--black-theme);
      background-color: var(--white-color);
      box-shadow:none;
      span{
        color: var(--black-theme);
      }
      border-bottom: 1px solid #5151601f;
      &::before{
        color: var(--white-color) !important;
      }
  }
  .accordion-body{
    p{
      color: var(--black-theme);
      font-size: 18px;
      line-height: 30px;
    }
  }
  .accordion-item {
      background-color: var(--white-color);
      border: unset;
      overflow: hidden;
      border: 1px solid #5151601f;
      border-radius: 10px;
      &:not(:last-child){
        margin-bottom: 20px;
      }
  }
  .accordion-item .collapsed::after{
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    transform: rotate(0deg);
    color: #fff;
    font-size: 17px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(113.09deg, #0396FF 15.28%, #0593ED 87.86%);
    border-radius: 5px;
    text-align: center;
  }
  .accordion-item:first-of-type .accordion-button {
      border-top-left-radius: calc(0px);
      border-top-right-radius: calc(0px);
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0px);
    border-bottom-left-radius: calc(0px);
  }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: none;
    padding: 17px 20px 20px;
    line-height: 31px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: var(--black-theme);
    text-align: left;
    background-color: var(--white-color);
    border: 0;
    &::before{
      content: "";
      right: 0;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      color: var(--white-color);
    }
    &::after{
      font-family: "Font Awesome 6 Free";
      content: "\f068";
      font-weight: 900;
      background-image: none;
      position: absolute;
      background: linear-gradient(113.09deg, #0396FF 15.28%, #0593ED 87.86%);
      border-radius: 5px;
      text-align: center;
      width: 40px;
      font-size: 17px;
      height: 40px;
      line-height: 40px;
      top: 14px;
      color: var(--white-color);
      right: 20px;
      transform: rotate(0deg);
    }
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  }
}
.faq__thumb{
  width: 420px;
  animation: updown 2s infinite linear;
  img{
    @include imgw;
  }
}
@keyframes updown{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}
//Faq-Scss End

//Wins-Scss Here
.wins__head{
  h3{
    margin-bottom: 15px;
  }
}
.wins__wrap{
  .nav{
    display: flex;
    align-items: center;
    border-radius: 26px;
    border: unset;
    margin-bottom: 31px;
    gap: 10px;
    .nav-item{
      .nav-link{
        color: var(--black-theme);
        font-weight: 600;
        line-height: 22px;
        font-size: 18px;
        outline: none;
        border: unset;
        padding: 10px 20px 12px;
        box-shadow: none;
        border-radius: 21px;
        transition: all 0.4s;
        &.active{
          background: #0593ED;
          border-radius: 21px;
          border: none;
          outline: none;
          box-shadow: none;
          color: var(--white-color);
        }
      }
    }
  }
}
.wins__table{
  border-radius: 10px;
  margin-top: 20px;
  overflow-x: auto;
  table {
      width: 100%;
      overflow-x: auto;
      tbody{
          tr{
            &:nth-child(odd){
              background-color: #31313208;
              border-top: 1px solid #e9e9e991;
              border-bottom: 1px solid #e9e9e991;
            }
            &:first-child{
              border-top: unset;
            }
            &:last-child{
              border-bottom: unset;
            }
              background-color: var(--white-color);
              th{
                  padding: 20px 30px 20px;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 34px;
                  color: var(--black-theme);
              }
              td{
                  color: var(--black-theme);
                  font-size: 16px;
                  font-weight: 400;
                  color: var(--black-theme);
                  padding: 18px 30px;
              }
              .tdfirst{
                display: flex;
                align-items: center;
                  .icon{
                      margin-right: 8px;
                  }
                  span{
                      font-size: 16px;
                      font-weight: 400;
                      color: var(--black-theme);
                  }
              }
          }
      }
  }
}
//Wins-Scss End

//Register-Scss Modal
.register__modal{
  z-index: 9999999;
  .modal-content{
    background-color: var(--white-color);
    border-radius: 20px;
    .modal-header{
      border: unset;
      padding: 0 0;
      button{
        background-image: none;
        background: url(../../assets/img/modal/cros.png) no-repeat;
        background-size: 20px;
        width: 10px;
        height: 10px;
        opacity: 1;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
    .modal-body{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 20px 20px;
      .modal__left{
        .modal__left__head{
          text-align: center;
          margin: 0 auto 0px;
          h3{
            color: var(--black-theme);
          }
          h6{
            color: var(--black-theme);
            font-weight: 400;
            font-size: 16px;
          }
        }
        .thumb{
          width: 360px;
          margin-bottom: 15px;
          img{
            @include imgw;
          }
        }
      }
      .modal__right{
        width: calc(100% - 50%);
        background-color: var(--white-color);
        border-radius: 0px;
        padding: 00px 00px;
        .nav{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          background-color: transparent;
          border-radius: 26px;
          border: unset;
          margin-bottom: 20px;
          .nav-item{
            .nav-link{
              color: var(--black-theme);
              font-weight: 600;
              line-height: 22px;
              font-size: 18px;
              outline: none;
              box-shadow: none;
              border-radius: 0px;
              border: none;
              border-bottom: 1px solid #E4DCFF;
              &.active{
                background-color: transparent;
                border: none;
                outline: none;
                color: var(--slide-btn);
                box-shadow: none;
                border-bottom: 1px solid var(--slide-btn);
              }
            }
          }
        }
        .tab-content{
          .form__tabs__wrap{
            .social__head{
              border-bottom: 1px solid  #97C2DE;
              margin-bottom: 20px;
              padding-bottom: 30px;
              p{
                font-size: 16px;
                font-weight: 400;
                color: var(--black-theme);
                margin-bottom: 15px;
                text-align: center;
              }
              .social{
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: center;
                li{
                  a{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: block;
                    border: 1px solid var(--slide-btn);
                    text-align: center;
                    line-height: 38px;
                    transition: all 0.3s;
                    i{
                      color: var(--slide-btn);
                    }
                    &:hover{
                      background-color: var(--slide-btn);
                      i{
                        color: var(--white-color);
                      }
                    }
                  }
                }
              }
            }
            form{
              .form__grp{
                position: relative;
                &:not(:last-child){
                  margin-bottom: 25px;
                }
                .field-icon{
                  position: absolute;
                  top: 56px;
                  right: 20px;
                  z-index: 99999;
                  color: #8B8B9D;
                }
                label{
                  display: block;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 30px;
                  color: var(--black-theme);
                  margin-bottom: 8px;
                }
                input{
                  border-radius: 10px;
                  border: 1px solid #97C2DE;
                  width: 100%;
                  padding: 13px 50px 15px 18px;
                  outline: none;
                  color: #8B8B9D;
                  position: relative;
                }
                ::placeholder{
                  color: #8B8B9D;
                }
              }
              .form__select{
                padding: 0 0 30px;
                .nice-select{
                  width: 100%;
                  background: linear-gradient(#3E0F36, #3E0F36) padding-box,
                  linear-gradient(to right, #E4A91B, #F88021) border-box;
                  border-radius: 0.5em;
                  border: 1px solid transparent;
                  color: #989898;
                }
                .form-country{
                  font-size: 18px;
                  font-weight: 500;
                  color: var(--white-color);
                  line-height: 30px;
                  margin-bottom: 8px;
                  display: block;
                }
              }
              .form__grp__new{
                margin-top: 40px;
                position: static;
              }
              .form-check{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: -14px;
                margin-bottom: 40px;
                .form-check-input{
                  width: 15px;
                  height: 15px;
                  border: 1px solid var(--theme-color);
                  border-radius: 2px;
                  outline: none;
                  box-shadow: none;
                  background-color: transparent;
                }
                .form-check-label{
                  width: calc(100% - 15px);
                  color: var(--black-theme);
                  font-size: 16px;
                  span{
                    color: var(--theme-color);
                  }
                }
              }
              .form__select_last{
                margin-top: 40px;
              }
              .cmn--btn2{
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto 20px;
              }
              p{
                text-align: center;
                color: var(--black-theme);
                font-size: 16px;
                font-weight: 400;
                a{
                  color: var(--slide-btn);
                }
              }
              .reset{
                display: flex;
                justify-content: flex-end;
                font-weight: 400;
                color: var(--black-theme);
                margin-bottom: 30px;
                margin-top: -20px;
              }
            }
            .social__icon{
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: center;
              li{
                background: var(--modal-bg);
                width: calc(80% / 2);
                border-radius: 10px;
                padding: 10px 15px 12px;
                margin: 10px;
                a{
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  i{
                    color: var(--white-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.critter__pop{
  z-index: 9999999;
  .modal-dialog{
    background: #EEEBF6;
    border-radius: 20px;
    padding: 30px 30px;
  }
  .modal-content{
    background-color: #EEEBF6;
    border: unset;
    border-radius: 20px;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
    .modal-header{
      border: unset;
    }
  }
  .tabs__wrap{
    margin-top: 20px;
  }
  .modal-body{
    display: grid;
    .critter__head{
      display: flex;
      gap: 20px;
      .thumb{
        width: 100px;
        height: 100px;
        img{
          @include imgw;
          border-radius: 10px;
        }
      }
      .critter__content{
        width: calc(100% - 100px);
        display: flex;
        justify-content: space-between;
        .critter_left{
          h4{
            margin-bottom: 10px;
          }
          .critter__time{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
              .title{
                display: block;
                font-size: 18px;
                font-weight: 500;
                color: #5F5964;
              }
              .time{
                font-size: 24px;
                font-weight: 600;
                color: var(--black-theme);
              }
            }
          }
        }
        .critter__right{
          h5{
            span{
              font-size: 18px;
              font-weight: 400 !important;
              color: var(--black-theme);
            }
            color: var(--custom-base);
            margin-bottom: 12px;
          }
          .cmn--btn2{
            padding: 9px 20px 9px;
          }
        }
      }
    }
    .rank__wrap{
      margin-top: 30px;
      li{
          margin-bottom: 10px;
          border-bottom: 1px solid #B8B8B9;
          padding-bottom: 10px;
        .short__items{
          display: flex;
          gap: 10px;
          align-items: center;
          .text{
            font-weight: 500;
            font-size: 18px;
            color: #472D59;
          }
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6{
          color: var(--custom-base);
        }
      }
    }
    .article{
      text-align: center;
      margin: 5px auto 10px;
      font-size: 18px;
      font-weight: 500;
      color: #5F5964;
    }
  }
}
//Register-Scss End
