


:root{
    --theme-color: #F8AF08;
    --base-color: #F8AF08;
    --header-color: #FFFFFF;
    --banner-color: #35082B;
    --box-bg: #521848;
    --body-color: #fff;
    --slide-btn: #0594F1;
    --custom-base: #0593F0;
    --section-bg: #231d70;
    --white-color: #fff;
    --black-theme: #151515;
    --black-color: #000000;
    --calender: #191D23;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border: #8A5F31;
    --border-two: #A09FC8;;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
    --modal-bg: #55184B;
}